<template>
    <address v-html="linesHtml" @click="addLine"></address>
</template>

<script>
    import { onMounted, ref } from 'vue';
    import RequestHandler from '@/handler/RequestHandler';

    export default {
        name: 'Address',
        props: ['addressLines'],
        computed: {
            linesHtml: function () {
                let html = this.lines ? this.lines.map(item => item.text).join('<br>') : '';
                html += '<br><br>';
                html += this.linesSecond ? this.linesSecond.map(item => item.text).join('<br>') : '';

                return html;
            },
        },
        setup(props) {
            const lines = ref(props.addressLines || []);
            const linesSecond = ref([]);

            onMounted(() => {
                RequestHandler.doGetRequest('/api/address_lines').then(response => {
                    lines.value = response;
                });
                RequestHandler.doGetRequest('/api/address_lines_second').then(response => {
                    linesSecond.value = response;
                });
            });

            const addLine = function () {
                linesSecond.value.push({text: Math.random() * 99999});
            }

            return {lines, linesSecond, addLine};
        }
    }
</script>
