<template>
    <router-view @click="catchLinkToRoute"></router-view>
    <app-dynamic-page @click="catchLinkToRoute"></app-dynamic-page>
</template>

<script>
import PageHandler from "./handler/PageHandler";
import AppDynamicPage from "./DynamicPage";
import { useRouter } from "vue-router";

export default {
    name: 'app',
    components: {AppDynamicPage},
    setup() {
        const router = useRouter();

        function catchLinkToRoute(event) {
            PageHandler.catchLinkToRoute(event, router);
        }

        return {catchLinkToRoute};
    },
}
</script>

